{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% comment %} Required meta tags {% endcomment %}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    {% comment %} bootstrap CSS {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    {% comment %} pybo CSS {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>hello, pybo</title>
</head>
<body>

{% comment %} html로 기능의 일부를 부분적으로 만들었고, 그것을 include로 사용 {% endcomment %}
{% include "navbar.html" %}

{% comment %} contents of basic template start {% endcomment %}
{% block content %}
{% endblock  %}
{% comment %} contents of basic template end {% endcomment %}

{% comment %} jquery {% endcomment %}
<script src="{% static 'jquery-3.6.2.min.js' %}"></script>

{% comment %} bootstrap js {% endcomment %}
<script src="{% static 'bootstrap.min.js' %}"></script>

{% comment %} javascript start {% endcomment %}
{% block script %}
{% endblock %}
{% comment %} javascript end {% endcomment %}
</body>
</html>